* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container-fluid {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    z-index: 0;
}

.container {
    width: 930px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 0;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/montserrat-bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/montserrat-regular.ttf) format("truetype");
}

h1 {
    font-family: "Montserrat Bold";
    font-size: 22px;
}

section > h2 {
    font-family: "Montserrat Bold";
    font-size: 14px;
}

h3 {
    font-family: "Montserrat Bold";
    font-size: 12px;
}

h1::after, section > h2::after {
    content: "";
    display: block;
    border-bottom: 4px solid black;
    width: 33px;
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    font-family: "Montserrat Regular";
    font-size: 11px;
    font-weight: 600;
    word-spacing: 1px;
    line-height: 18px;
    color: rgb(152, 152, 152);
}

span h2 {
    font-size: 28px;
}

span sup {
    font-size: 18px;
}

span h2, span sup {
    font-family: "Montserrat Regular";
    font-weight: 1000;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

header {
    /* background-color: rgba(0, 0, 0, 0.493); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 10px 0;
}

.social-media {
    justify-content: space-around;
}

.social-media i {
    margin-left: 18px;
}

.social-media a {
    color: black;
}

.row {
    width: 100%;
    height: 232px;
    display: flex;
    flex-wrap: wrap;
}

.row-header {
    width: 100%;
    height: 190px;
}

.box-1-1 {
    flex: 1 1 25%;
}

.box-2-1 {
    flex: 2 2 50%;
}

.box-1-1, .box-2-1 {
    padding: 25px;
    box-sizing: border-box;
}

.background-yellow {
    background-color: rgb(255, 228, 0);
}

.background-blue {
    background-color: rgb(34, 151, 216);
}

.background-white {
    background-color: white;
}

.background-black {
    background-color: rgb(40, 40, 40);
}

.background-yellow p {
    color: black;
}

.background-blue h1 {
    color: white;
}

.background-blue h1:after {
    border-bottom: 4px solid white;
}

.button {
    margin-top: 30px;
    background-color: rgb(54, 54, 54);
    height: 37px;
    width: 97px;
    cursor: pointer;
    font-family: "Montserrat Regular";
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.button:hover {
    background-color: blue;
    color:white;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controller span {
    display: flex;
    padding: 20px 0;
}

.controller img {
    cursor: pointer;
}

.icon-link-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-link-block img {
    margin-bottom: 10px;
}

.background-blue p {
    color: white;
    font-size: 10px;
}

.text-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review > img {
    width: 60px;
}

.review h3 {
    margin: 10px 0;
}

.rating {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.count {
    font-family: "Montserrat Regular";
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.row-2 {
    width: 100%;
    height: 464px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.half-row-2 {
    height: 50%;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.slider-1 {
    display: flex;
    align-items: stretch;
    height: 654px;
}

.slider-1 img {
    height: auto;
    display: flex;
}

.slider-1-wrap {
    position: absolute;
    top: 0px;
    z-index: -1;
    overflow: hidden;
    margin-left: 300px;
}

.slider {
    padding: 0;
}

.slider-2 img {
    height: -moz-available;
    height: -webkit-fill-available;
    display: flex;
}

.slider-2-wrap {
    height: 232px;
    width: 232px;
    overflow: hidden;
}


/* form starting stylings ------------------------------- */
.group { 
    position: relative;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 350px;
    border: none;
    border-bottom: 1px solid white;
}
input:focus { outline: none; }
  
/* LABEL ======================================= */
label {
    font-family: "Montserrat Regular";
    color: white; 
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
}
  
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}
  
  /* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 365px;
    /* small fix */
    top: 1px;
}
.bar:before, .bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #5264AE; 
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%; 
}
  
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* Search icon */

.group a {
    position: absolute;
    top: 15px;
    left: 345px;
}

.group a i {
    color: white;
}
  
  
/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
  
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background: #5264AE; }
    to 	{ width: 0; background: transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: #5264AE; }
    to 	{ width: 0; background: transparent; }
}
@keyframes inputHighlighter {
    from { background: #5264AE; }
    to 	{ width: 0; background: transparent; }
}



@media (max-width: 1024px) {

    .container {
        width: 512px;
    }

    header {
        padding: 10px 20px;
    }

    .row {
        height: 512px;
    }

    .box-2-1 {
        flex: 1 0 100%;
        height: 256px;
    }

    .box-1-1 {
        flex: 1 0 50%;
        height: 256px;
    }

    .slider-1 {
        height: 1215px;
    }

    .slider-1 img {
        height: 1215px;
    }

    .slider-1-wrap {
        margin-left: 100px;
    }

    .slider-2-wrap {
        width: 256px;
        height: 256px;
    }

}

@media (max-width: 550px) {
    .container {
        width: 100%;
    }

    .row {
        height: 100vw;
    }

    .row-header {
        height: 36vw;
    }

    .box-2-1 {
        flex: 1 0 100%;
        height: 50%;
    }

    .box-1-1 {
        flex: 1 0 50%;
        height: 50%;
    }

    .slider-1 {
        height: 1215px;
    }

    .slider-1 img {
        height: 1215px;
    }

    .slider-1-wrap {
        margin-left: 100px;
    }

    .slider-2-wrap {
        width: 50vw;
        height: 50vw;
    }

    .logo img {
        width: 13.7vw;
    }

    .social-media i {
        font-size: 4vw;
        margin-left: 4vw;
    }

    h1 {
        font-size: 4.3vw;
    }

    p {
        font-size: 2.15vw;
        line-height: 3vw;
    }

    .button {
        width: 19vw;
        height: 7.2vw;
        font-size: 2vw;
        margin-top: 5vw;
    }

    h1:after, section > h2:after {
        width: 6.5vw;
        border-bottom: 0.8vw solid black;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    .controller span {
        padding: 4vw 0;
    }

    span h2 {
        font-size: 5vw;
    }

    span sup {
        font-size: 3vw;
    }

    .controller img {
        width: 4.5vw;
    }

    .icon-link-block img {
        margin-bottom: 2vw;
        width: 16vw;
    }
    
    .background-blue p {
        font-size: 2vw;
    }

    section > h2 {
        font-size: 2.8vw;
    }

    input {
        font-size: 3vw;
        padding: 2vw 2vw 2vw 1vw;
        width: 70vw;
    }

    label {
        font-size: 2.8vw;
        left: 1vw;
        top: 2vw;
    }

    .fa-search {
        font-size: 3vw;
    }

    .bar {
        width: 73vw;
    }

    .group a {
        top: 2.4vw;
        left: 68vw;
    }

    .review > img {
        width: 12vw
    }

    h3 {
        font-size: 2.5vw;
    }

    .review h3 {
        margin: 2vw 0;
    }

    .rating {
        margin-bottom: 2vw;
    }

    .rating img {
        width: 3vw;
    }

    .achivements img {
        width: 16vw
    }

    .count {
        font-size: 6vw;
        letter-spacing: 0.4vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }
    
    footer {
        height: 10vw;
    }
}
