* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 930px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: yellow;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/montserrat-bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(../fonts/montserrat-regular.ttf) format("truetype");
}

h1 {
    font-family: "Montserrat Bold";
    font-size: 22px;
}

section > h2 {
    font-family: "Montserrat Bold";
    font-size: 14px;
}

h1::after, section > h2::after {
    content: "";
    display: block;
    border-bottom: 4px solid black;
    width: 33px;
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    font-family: "Montserrat Regular";
    font-size: 11px;
    font-weight: 600;
    word-spacing: 1px;
    line-height: 18px;
    color: rgb(152, 152, 152);
}

span h2 {
    font-size: 28px;
}

span sup {
    font-size: 18px;
}

span h2, span sup {
    font-family: "Montserrat Regular";
    font-weight: 1000;
    letter-spacing: 3px;
}

header {
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 10px 0;
}

.logo {
}

.social-media {
    justify-content: space-around;
}

.social-media i {
    margin-left: 18px;
}

.white-icon {
    color: #ffffff;
}

.row {
    width: 100%;
    height: 232px;
    display: flex;
    flex-wrap: wrap;
}

.row-header {
    width: 100%;
    height: 190px;
}

.box-1-1 {
    flex: 1 1 25%;
}

.box-2-1 {
    flex: 2 2 50%;
}

.box-1-1, .box-2-1 {
    padding: 25px;
    box-sizing: border-box;
}

.background-yellow {
    background-color: rgb(255, 228, 0);
}

.background-blue {
    background-color: rgb(34, 151, 216);
}

.background-white {
    background-color: white;
}

.background-yellow p {
    color: black;
}

.button {
    margin-top: 30px;
    background-color: rgb(54, 54, 54);
    height: 37px;
    width: 97px;
    cursor: pointer;
    font-family: "Montserrat Regular";
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.button:hover {
    background-color: blue;
    color:white;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controller span {
    display: flex;
    padding: 20px 0;
}

.icon-link-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-link-block img {
    margin-bottom: 10px;
}

.background-blue p {
    color: white;
    font-size: 10px;
}

@media (max-width: 1024px) {

    .container {
        width: 100%;
    }

    header {
        padding: 10px 20px;
    }

    .box-2-1 {
        flex: 1 0 100%;
    }

    .box-1-1 {
        flex: 1 0 50%;
    }

}

.text-field {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* form starting stylings ------------------------------- */
.group 			  { 
    position: relative;
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 350px;
    border:none;
    border-bottom:1px solid white;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label {
    font-family: "Montserrat Regular";
    color: white; 
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 365px;
}
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  /* Search icon */

  .group a {
      position: absolute;
      top: 15px;
      left: 345px;
  }
  
  .group a i {
    color: white;
  }
  
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }